 a{
    text-decoration: none !important;
 }
 h1,h2,h3,h4,h5,h6{
    color: #262626 !important;
 }

 .form-sub-divider{
   color:#096dd9 ;
   font-size: 16px;
   font-weight: 600;
 }

 button{
   border-radius: 2px !important;
   box-shadow: none !important;
 }


 body{
   background-color: "#f0f0f0";
 }