 a{
    text-decoration: none !important;
 }
 h1,h2,h3,h4,h5,h6{
    color: #262626 !important;
 }

 .form-sub-divider{
   color:#096dd9 ;
   font-size: 18px;
   font-weight: 600;
 }

 button{
   border-radius: 2px !important;
   box-shadow: none !important;
 }

.ant-switch{
  border-radius: 100px !important;
}
 body{
   background-color: "#f0f0f0";
 }

 .custom-sidebar {
  overflow: hidden;
  transition: all 0.3s ease;
}

.custom-sidebar:hover {
  overflow: auto;
}

.custom-sidebar::-webkit-scrollbar {
  width: 8px;
}

.custom-sidebar::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

.custom-sidebar::-webkit-scrollbar-thumb {
  background: #b3b3b3;
  border-radius: 4px;
}

.custom-sidebar::-webkit-scrollbar-thumb:hover {
  background: #8c8c8c;
}


.card-1{
  height: 120px;
  border-radius: 3px;
  margin-bottom: 15px;
}

.card-2{
  height: 320px;
  border-radius: 3px;
  margin-bottom: 20px;
}

input.ant-input{
  border: 2px solid #ddd; /* Light grey border */
  border-radius: 5px;    /* Rounded corners */
  padding: 8px;          /* Inner spacing */
  font-size: 14px;       /* Text size */
}


.ag-theme-material .ag-checkbox-input-wrapper.ag-checked::after {
  color: #0e387a !important;
}

.ag-header-cell-text{
  font-size: 16px !important;
}

.ant-select-selector{
  border: 2px solid #ddd !important; /* Light grey border */
  border-radius: 5px !important;    /* Rounded corners */
  padding: 8px !important;          /* Inner spacing */
  font-size: 14px !important;       /* Text size */
}

 