@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Inter:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --ag-font-family:'Inter', sans-serif;
    --ag-font-size:26px;
}

body {
    font-family: 'Inter', sans-serif !important; /* Set Poppins as the default font */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    box-sizing: border-box; /* Use border-box for better sizing */
}
.ant-layout.ant-layout-has-sider.css-dev-only-do-not-override-apn68{
    height: 100vh;
}
.ant-typography,.ant-menu-title-content{
font-family: 'Inter', sans-serif !important; /* Set Poppins as the default font */
}

.layout-main{
    height: 100vh;
}

.search-input input::placeholder {
    color: lightgray;
    opacity: 1;
    font-size: 14px;
  }
  
  .search-input input:focus::placeholder {
    color: white;
  }

  .ant-collapse{
    border-radius: 3px;
    border-color: #002c8c;
  }

  .ant-collapse-header{
    background: #002c8c;
    border-radius: 0px !important;
    font-size: 18px;
    color: white !important;
    font-weight: 600;
  }

 

.custom-tab-bar .ant-tabs-tab {
  font-size: 16px;  /* Set a font size for the tabs */
}

 .custom-tab-bar .ant-tabs-nav {
  display: flex;
  justify-content: space-between; /* Spread the tabs evenly */
  width: 100%;
}

.ant-tabs-nav .ant-tabs-tab-active{
  background-color: #002c8c !important;
  color: white !important;
}
.ant-tabs-tab-btn,.ant-tabs-tab{
  border-radius: 0px !important;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
}

:where(.css-dev-only-do-not-override-77tu7h).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn{
  color: white;
}